@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  body {
    @apply overflow-hidden text-white;
  }

  main {
    @apply p-4 min-h-screen md:min-h-[80vh];
  }

  button {
    @apply p-2 px-4 text-white bg-secondary hover:bg-secondary rounded shadow transition;
  }

  label {
    @apply text-sm text-gray-500 select-none;
  }

  div {
    user-select: none;
  }

  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.swiper {
  @apply h-64 w-full p-4;
}

.swiper-slide {
  @apply flex items-center justify-center text-black object-cover;
}

.games-swiper-slider {
  @apply max-w-44 max-h-44
}

.wallet-selector-modal {
}
.wallet-selector-icon {
}
.wallet-selector-text {
}
.wallet-menu-wrapper {
}
.wallet-name-wrapper {
}
.wallet-connect-button {
}
.wallet-connect-install {
}
.wallet-button {
}
.wallet-modal-title {
}
.aptos-connect-button {
}
.aptos-connect-privacy-policy-wrapper {
}
.aptos-connect-privacy-policy-text {
}
.aptos-connect-privacy-policy-link {
}
.aptos-connect-powered-by {
}
