@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  body {
    @apply overflow-hidden;
  }

  main {
    @apply overflow-y-scroll h-[calc(100vh-3.5rem)] p-4 pt-0;
  }

  button {
    @apply p-2 px-4 text-white bg-emerald-800 hover:bg-emerald-900 rounded shadow transition;
  }

  label {
    @apply text-sm text-gray-500 select-none;
  }

  div {
    user-select: none;
  }

  h1 {
    @apply text-5xl font-semibold;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-2xl font-semibold;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.swiper {
  @apply h-64 w-full m-4;
}

.swiper-slide {
  @apply text-center flex items-center justify-center text-black;
}

.swiper-slide {
  @apply block h-full w-full object-cover;
}

.wallet-selector-modal {
}
.wallet-selector-icon {
}
.wallet-selector-text {
}
.wallet-menu-wrapper {
}
.wallet-name-wrapper {
}
.wallet-connect-button {
}
.wallet-connect-install {
}
.wallet-button {
}
.wallet-modal-title {
}
.aptos-connect-button {
}
.aptos-connect-privacy-policy-wrapper {
}
.aptos-connect-privacy-policy-text {
}
.aptos-connect-privacy-policy-link {
}
.aptos-connect-powered-by {
}
