@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .list-circle {
    list-style-type: circle;
  }
  .list-square {
    list-style-type: square;
  }
}

@layer components {
  body {
    @apply overflow-hidden text-white;
  }

  main {
    @apply p-4 lg:p-6 space-y-4 lg:space-y-8 min-h-[50vh] md:min-h-[80vh];
  }

  section {
    @apply space-y-3 lg:space-y-4 relative m-0;
  }

  button {
    @apply p-2 px-4 text-white bg-secondary hover:bg-secondary-light rounded shadow transition text-sm;
  }

  label {
    @apply text-sm text-gray-500 select-none;
  }

  div {
    user-select: none;
  }

  h1 {
    @apply text-2xl md:text-2xl font-semibold;
  }

  h2 {
    @apply text-xl md:text-xl font-semibold;
  }

  h3 {
    @apply text-lg md:text-lg font-semibold;
  }

  h4 {
    @apply text-base md:text-base font-semibold;
  }

  h5 {
    @apply text-sm md:text-sm font-semibold;
  }

  p {
    @apply text-xs md:text-sm text-slate-500 text-justify md:text-left;
  }

  input {
    @apply w-full outline-none border text-sm border-gray-800 p-2 rounded bg-transparent;
  }

  label {
    @apply text-xs md:text-sm text-gray-500 select-none font-extralight;
  }

  ul {
    @apply list-disc list-inside;
  }

  ul ul {
    @apply list-circle ml-4 md:ml-6 lg:ml-8;
  }

  ul ul ul {
    @apply list-square ml-4 md:ml-6 lg:ml-8;
  }

  li {
    @apply mb-2;
  }
}

footer > div,
main > section {
  @apply max-w-[1318px] m-auto;
}

.nav-blank-space {
  @apply md:w-[calc(100vw-1318px)];
}

.text-balance {
  text-wrap: balance;
}

.desktop-sidebar {
  @apply md:min-w-[230px] h-[calc(100vh-4rem)] max-w-[280px];
}

.claim-reward {
  @apply bg-amber-500 hover:bg-amber-600; 
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.swiper {
  @apply h-[180px] md:h-[200px] !pt-2;
}

.swiper-slide {
  @apply flex items-center justify-center text-black object-cover;
}
